<div *ngIf="employee" class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-6">
        <div class="h1 text-center">{{employee.name | uppercase}} details</div>
        <img class="rounded mx-auto d-block" height="250px" width="250px" [src]="employeeService.image_url + employee.profilePhoto" alt="">      
    </div>

    <div class="col-6">
      <div class="card card-body row">
        <div class="col-12 h5">
            Name: <div class="unbold">{{employee.name}} </div>
        </div>
        <div class="col-12 h5" >
            Salary: <div class="unbold">{{employee.salary}}</div>
        </div>
        <div class="col-12 h5">
            Date of Birth: <div class="unbold">{{employee.dob | date : 'dd-MM-yyyy'}} </div>
        </div>
        <div class="col-12 h5">
          <div style="margin-top:20px; margin-bottom: 20px;">
              SKILLS <span class="badge badge-primary">{{employee.skills.length}}</span>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let skill of employee.skills">{{skill}}</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>